<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

    <!-- Turning request validation off should always be a last resort! But even when on, plenty of XSS can still get through. -->
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />

    <!-- Cookies of any value whatsoever should be flagged as "secure" which ensures they can only be sent over an HTTP connection. -->
    <!-- <httpCookies requireSSL="true"/> -->

    <!-- This is especially important for forms auth - if the ".ASPXAUTH" cookie can be grabbed in transit, then an attacker can take on all the authenticated rights of the victim. -->
    <!--<authentication mode="Forms">
      <forms requireSSL="true"  />
    </authentication>-->
    
  </system.web>
</configuration>